.testimonials {
    transition: all .3s;
    background-color: rgb(243 244 246);
}

.testimonials:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    /* border: 1px solid #dee2e6 !important; */
    /* cursor: pointer; */
}